node_modules/
server/node_modules/
server/session_auth/
session_auth/
store_data.json
server/store_data.json
tools/platform-tools/
*.zip
.ngrok_domain
.cf_token
server/.cf_token
.pin_config.json
server/.pin_config.json